$color--white               : #FFFFFF;
$color--black               : #000000;
// ercan
$color--e6f1fa              : #E6F1FA;
$color--eb5757              : #EB5757;
$color--57a4eb              : #57A4EB;
$color--828282              : #828282;
$color--f0f2f2              : #F0F2F2;
$color--c4c4c4              : #C4C4C4;
$color--0f6d81              : #0F6DB1;
$color--bdbdbd              : #BDBDBD;
$color--ddeb71              : #DDEBF1;
$color--d3e5ee              : #D3E5EE;
$color--c8deec              : #C8DEEC;
$color--f8f9fb              : #F8F9FB;
$color--4f4f4f              : #4F4F4F;
$color--3f3f3f              : #3F3F3F;
$color--f2f0f0              : #F2F0F0;
$color--e0ddd4              : #E0DDD4;
$color--f4ddd2              : #F4DDD2;
$color--24426A              : #24426A;
$color--f3ece2              : #F3ECE2;
$color--666689              : #666689;
$color--c4c4c4              : #C4C4C4;



.color--white               { color: $color--white!important; }
.bg--white                  { background-color: $color--white!important; }
.br--white                  { border-color: $color--white!important; }

.color--black               { color: $color--black!important; }
.bg--black                  { background-color: $color--black!important; }
.br--black                  { border-color: $color--black!important; }
