.resetPassword{
    .card-body{
        span{
            font-family: Oswald;
            @extend .font-size--24;
            @extend .line-height--21;
            @extend .font-weight--400;
            text-transform: uppercase;
            color: $color--black;
            margin-bottom: 5px;
        }
    }
    input{
        height: 50px;
    }
}