    <!-- start-check-icos -->
    <div class="custom-container bg-blue d-flex align-items-center justify-content-center">
      <div class="row check-icons">
        <div class="col">
          <ul>
            <li>
              <img src="./assets/icons/check.svg" />Duties and Taxes Guaranteed
            </li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><img src="./assets/icons/check.svg" />Free Express Shipping</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><img src="./assets/icons/check.svg" />Customer Love</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><img src="./assets/icons/check.svg" />Easy Return</li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li><img src="./assets/icons/check.svg" />Secure Payment</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end-check-icons -->

<footer class="pt-md-5 pb-1 pt-5 border-top">
    <div class="custom-container footer-desktop">
      <div class="row">
        <div class="col-12 col-md">
          <img src="./assets/images/svg/logo.svg" alt="Crisp" class="mb-4"/>
        </div>
        <div class="col-12 col-md">
          <h5>Features</h5>
          <ul>
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Boys</a></li>
            <li><a href="#">Gırl</a></li>
            <li><a href="#">New Arrıvals</a></li>
            <li><a href="#">Shoes</a></li>
            <li><a href="#">Cothes</a></li>
            <li><a href="#">Accessorıes</a></li>

          </ul>
        </div>
        <div class="col-12 col-md">
          <h5>Menu</h5>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Orders Hıstory</a></li>
            <li><a href="#">My Wishlist</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Logın</a></li>
          </ul>
        </div>
        <div class="col-12 col-md">
          <h5>Contact Us</h5>
          <ul>
            <li><h1>Adress:</h1> <p>123 street name, cıty, england</p></li>
            <li><h1>phone:</h1> <p>(123) 456-7890</p></li>
            <li><h1>emaıl:</h1> <p>maıl@example.com</p></li>
            <li><h1>workıng days/hours:</h1> <p>mon - sun / 9:00AM - 8:00PM</p></li>
          </ul>
        </div>
        <div class="col-12 col-md">
          <h5>follow us</h5>
          <ul>
            <li><a href="#"><span class="icon-facebook-square follow-us mr-3"></span> facebook</a></li>
            <li><a href="#"><span class="icon-twitter-square follow-us mr-3"></span> twıtter</a></li>
            <li><a href="#"><span class="icon-instagram-square follow-us mr-3"></span> ınstagram</a></li>
          </ul>
        </div>
        <div class="col-12 col-md">
          <h5>joın us</h5>
          <ul>
            <li>Subscrıbe to our newsletters</li>
            <li>  <input type="text" id="email-address" name="email-address" placeholder="Email Address"></li>
            <li>

              <a href="#" class="subscribe-button">subscrıbe!</a>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <small class="d-block mb-3">© 2019. Crısp theme Developed by Belvg</small>

    </div>

    <div id="accordion">
      
      <img src="./assets/images/svg/logo.svg" alt="Crisp" class="mt-4 mb-4"/>
  
      <div class="card p-3">
        <div class="card-header" id="headingOne">
  
          <h5 class="mb-0">
            <a class="btn d-flex justify-content-between" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h5>Features</h5> <span class="icon-plus"></span>
            </a>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
  
            <ul>
              <li><a href="#">Men</a></li>
              <li><a href="#">Women</a></li>
              <li><a href="#">Boys</a></li>
              <li><a href="#">Gırl</a></li>
              <li><a href="#">New Arrıvals</a></li>
              <li><a href="#">Shoes</a></li>
              <li><a href="#">Cothes</a></li>
              <li><a href="#">Accessorıes</a></li>
  
            </ul>
  
          </div>
        </div>
      </div>
      <div class="card p-3">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <a class="btn collapsed d-flex justify-content-between" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h5>Menu</h5> <span class="icon-plus"></span>
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">My Account</a></li>
              <li><a href="#">Orders Hıstory</a></li>
              <li><a href="#">My Wishlist</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Logın</a></li>
            </ul>          </div>
        </div>
      </div>
      <div class="card p-3">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <a class="btn collapsed d-flex justify-content-between" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h5>Contact Us</h5> <span class="icon-plus"></span>
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <li><h1 class="mt-3">Adress:</h1> <p>123 street name, cıty, england</p></li>
              <li><h1 class="mt-3">phone:</h1> <p>(123) 456-7890</p></li>
              <li><h1 class="mt-3">emaıl:</h1> <p>maıl@example.com</p></li>
              <li><h1 class="mt-3">workıng days/hours:</h1> <p>mon - sun / 9:00AM - 8:00PM</p></li>
            </ul>          </div>
        </div>
      </div>
  
      <div class="card p-3">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <a class="btn collapsed d-flex justify-content-between" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              <h5>follow us</h5> <span class="icon-plus"></span>
            </a>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <li><a href="#"><span class="icon-facebook-square follow-us mr-3"></span> facebook</a></li>
              <li><a href="#"><span class="icon-twitter-square follow-us mr-3"></span> twıtter</a></li>
              <li><a href="#"><span class="icon-instagram-square follow-us mr-3"></span> ınstagram</a></li>
            </ul>        
          </div>
        </div>
      </div>
  
      <div class="card p-3">
        <div class="card-header subscribe" id="">
          <h5 class="mb-0">
            <a class="btn " data-toggle="" data-target="" aria-expanded="false" aria-controls="collapseThree">
              <h5>joın us</h5> 
            </a>
          </h5>
        </div>
        
          <div class="card-body">
            <ul>
              <li>Subscrıbe to our newsletters</li>
              <li>  <input type="text" id="email-address" name="email-address" placeholder="Email Address"></li>
              <li>
  
                <a href="#" class="subscribe-button mt-0 d-block text-center">subscrıbe!</a>
              </li>
            </ul>
          </div>
        </div>
        <hr>
      <small class="d-block pb-3 ml-4">© 2019. Crısp theme Developed by Belvg</small>
  
      </div>



  </footer>

  

 