<div class="my-navbar dekstop-menu">
  <nav class="navbar navbar-expand-xl navbar-dark p-0">
    <a class="navbar-brand" href="/themes/ecommerce/"
      ><img src="./assets/images/svg/logo.svg" alt="Crisp"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExample06"
      aria-controls="navbarsExample06"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="menu collapse navbar-collapse pl-5 ml-5" id="navbarsExample06">
      <ul class="navbar-nav pl-5 ml-5">
        <li class="nav-item active">
          <a class="nav-link" href="/themes/ecommerce/"
            >HOME <span class="sr-only">(current)</span></a
          >
        </li>
        <li  class="nav-item dropdown">
          <a class="nav-link" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SHOP <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          
            <div class="dropdown-container">
              <div class="row">
                <div class="col col-xs-6 col-md-3">
                  <ul class="nav flex-column">
                  <li class="nav-item">
                    <span class="nav-link dropdown-menu-title">Menu Category Lıst</span>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Product Page With Sidebar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Product Page Without Sidebar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Horizontal Thumbnails</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Vertical Thumbnails</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Addtocart Sticky</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Vertical Tabs</a>
                  </li>
                </ul>
                </div>
              </div>
            </div>
            <!--  /.container  -->
  
  
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blogList.html">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="searchResult.html">SALE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">CONTACT US</a>
        </li>
        <li class="nav-item-search">
          <a
            class="nav-link btn-search d-flex mt-1"
            href="#"
            id="btn-search"
            aria-hidden="true"
          >
            <img
              src="./assets/icons/search.svg"
              alt="search"
              class="mr-2"
            />SEARCH</a
          >
        </li>
      </ul>
      <input
        class="togglesearch"
        type="text"
        id="btn-search"
        name="btn-search"
      />
    </div>

    <div class="account">
      <ul class="align-items-center d-flex mr-2">
        <li class="text-white font-weight-bold nav-item dropdown"><a href="#" data-toggle="modal" data-target="#LoginModal">SIGN IN</a>
        
        
          <div class="dropdown-menu p-0 border-0" aria-labelledby="navbarDropdown">
          <div class="dropdown-container">
            <div class="row">
              <div class="col col-xs-6 col-md-3">
                <ul class="nav flex-column">
                <li class="nav-item m-0">
                  <a class="nav-link" href="#">Product</a>
                </li>
              </ul>
              </div>
            </div>
          </div>
          </div>





        </li>
        <li class="text-white font-weight-bold mr-3"><a href="#" data-toggle="modal" data-target="#RegisterModal">CREATE AN ACCOUNT</a></li>
        <li>
          <a href="#"> <img src="./assets/icons/heart.svg" alt="" /> </a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#modalPoll"> <img src="./assets/icons/cart.svg" alt="" /> </a>
          <span>2</span>
        </li>
      </ul>
    </div>

    <ul>
      <li class="text-white d-block shopping-cart">Shopping Cart</li>
      <li class="text-white font-weight-bold d-block header-price">0,00 EUR</li>
    </ul>
  </nav>
  
</div>






